@keyframes circles {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.clients {
  text-align: center;

  &__img {
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
  }
  &__counter {
    display: block;
    text-align: center;
    width: 48px;
    margin: 32px auto 0;
    padding: 8px;
    font-weight: bold;
    border-radius: 16px;

    color: black;
    background-color: white;
    // transform: translateY(-110px);
  }

  &__bar {
    display: block;
    position: relative;
    width: 90%;
    height: 16px;
    margin: 48px auto 0;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    &--progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 16px;
      background-color: green;
      // border-radius: 5px;
      transition: width 0.1s ease-in-out;
    }
  }

  &__message {
    color: red;
    height: 16px;
    padding: 8px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    // height: 72px;
  }

  &__button {
    position: relative;
    display: block;
    padding: 0;
    height: 64px;
    width: 64px;
    background: none;
    border: none;
    outline: inherit;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    transition: transform 0.1s linear;

    &--active {
      transform: scale(1.2);
    }

    // &::before {
    //   position: absolute;
    //   content: "";
    //   top: 0;
    //   left: 0;
    //   height: 64px;
    //   width: 64px;
    //   border-radius: 50%;
    //   background: rgba(0, 0, 0, 0.1);
    //   z-index: -2;
    //   transition: transform 0.1s linear;
    // }

    // &:hover::before {
    //   transform: scale(1.2);
    // }

    &__img {
      height: 64px;
      width: 64px;
    }
  }
}
