@keyframes circles {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.clients {
  text-align: center;

  &__img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
  }
  &__counter {
    display: block;
    text-align: center;
    margin-bottom: 100px;
  }

  &__bar {
    display: block;
    position: relative;
    width: 90%;
    height: 16px;
    margin: 0 auto;
    background-color: white;
    &--progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 16px;
      background-color: green;
    }
  }

  &__message {
    color: red;
    height: 16px;
    padding: 8px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    height: 72px;
  }

  &__button {
    position: relative;
    display: block;
    padding: 0;
    height: 64px;
    width: 64px;
    background: none;
    border: none;
    outline: inherit;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    transition: transform 0.1s linear;

    &--active {
      transform: scale(1.2);
    }

    // &::before {
    //   position: absolute;
    //   content: "";
    //   top: 0;
    //   left: 0;
    //   height: 64px;
    //   width: 64px;
    //   border-radius: 50%;
    //   background: rgba(0, 0, 0, 0.1);
    //   z-index: -2;
    //   transition: transform 0.1s linear;
    // }

    // &:hover::before {
    //   transform: scale(1.2);
    // }

    &__img {
      height: 64px;
      width: 64px;
    }
  }
}
