.navigation {
  display: block;
  position: fixed;
  top: 8px;
  right: 8px;

  &__button {
    display: block;
    outline: none;
    background: none;
    border: none;
    // height: 24px;
    // width: 24px;
  }

  &__img {
    display: block;
    height: 40px;
    width: 40px;
  }
}
