@import "~normalize.css";

@import "_variables";
// @import "modules/hello.scss";
@import "modules/asside.scss";
@import "modules/clients.scss";
@import "modules/navigation.scss";

body {
  background: $background;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
